// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// fonts
// $font-main: 'Roboto', sans-serif;

$font-Open: 'Open Sans', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;
$font-Merri: 'Merriweather', serif;

// colors

$colorLight-khaki: #f9f4dc;
$colorBlack-20: rgba(0, 0, 0, 0.2);
$colorTomato: #e95626;
$colorDried-blood: #420101;
$colorRusty-red: #bd1010;
$colorFaded-orange: #eab052;
$colorLight-grey-blue: #a0c0cf;
$colorAzure: #00a0f5;
$colorWhite: #d5d5d5;
$colorBlack: #000;
$colorGunmetal: #54585a;
$colorBrownish-grey: #6b6b6b;
$colorSlate: #3e5b65;
$colorWhite-two: #fff;
$colorHospital-green: #a2deaf;
$colorSilver: #bfcdd0;
$colorPale-grey: #dde9ed;
$colorDark-green-blue: #114e4e;
$colorDirty-blue: #438792;
$colorDull-orange: #e17334;
$colorWhite-three: #d8d8d8;
$colorWhite-four: #f5f5f5;


:root {
    font-size: 62.5%;
}