// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// fonts
// $font-main: 'Roboto', sans-serif;

// colors
// $color-text: #000;
// $color-title: #000;
// $color-background: #999;
