.fill {

                &__legend {
                display: flex;
                border-top: 0.1rem $colorWhite-three solid;
                margin: 0 0 2.5rem 0;
                justify-content: space-between;
                cursor: pointer;

                    &__div {
                        display: flex;

                            &__icon {
                                color:$colorDull-orange;
                                font-size: 1.8rem;
                                margin:1rem 1rem 0 0 ;
                            }

                            &__title {
                                font-size: 1.8rem;
                                text-transform: uppercase;
                                color: $colorGunmetal;
                                font-family: $font-Open;
                                margin-top: 1rem;
                                font-weight: 600;
                            }

                        }
 
            &__arrow {
                margin-top: 1rem;
                font-size: 1.8rem;
                color:$colorGunmetal;
                transition: all .3s linear;
                
            } 
            &__arrow:hover {
                transform: rotate(180deg);
            }
        }
 
}

.fill__div {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;

    &__title {
        color:#114e4e;
        font-size: 1.4rem;
        margin: 2rem 0 0.7rem 0;
        font-family: $font-Open;

    }

    &__input {
        border: 1px solid $colorHospital-green;
        height: 3rem;


    }

    &__section {
            
        display: flex;

    &__button {
        color: white;
        background-color: $colorDull-orange;
        height: 3rem;
        width: 14rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-family: $font-Open;
        border-radius: 3px;
        margin-right: 2rem;
        box-shadow: 0 0 4px 0 black;
}

    &__rectangle {
        border: 1px solid $colorHospital-green;
            height: 3rem;
            width: 3rem;
    }
}

}

::placeholder {
    color: #c5c5c5;
    font-size: 1.2em;
}