.header {

    height: 111px;
    background-color: $colorWhite-two;
    display: flex;
    flex-direction: row;
    justify-content:left;
    padding-left: 40px;
}

.image-aweprocar {
    height: 50px;
    width: 201px;
}

